<h1>Click a Topic To View Content</h1>
<hr />
<%= link_to "Create an Item", new_department_item_path(@department) %>
<ul>
  <% @items.each do |i| %>
    <li><%= link_to t.name, department_topic_path(@department, t) %></li>
  <% end %>
</ul>